.directory
.DS_Store
*.a
*.app
*.appx
*.bc
*.cbp
*.dll
*.dsp
*.dsw
*.dylib
*.exe
*.filters
*.framework
*.gch
*.ilk
*.lastbuildstate
*.lib
*.lo
*.manifest
*.mo
*.o
*.obj
*.pbproj
*.pbxproj
*.pbxuser
*.pch
*.pdb
*.Plo
*.Po
*.res
*.sln
*.so
*.suo
*.Tlo
*.tlog
*.user
*.vcproj
*.vcxproj
*.xcodeproj
CMakeCache.txt
CMakeFiles/
config.status
configure
libtool
Makefile
Thumbs.db
